@tailwind base;
@tailwind utilities;

html {
  --default-border: #d9d9d9;
}

html.dark {
  --default-border: #424242;
}

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

.apexcharts-svg {
  @apply overflow-visible;
}

.apexcharts-tooltip {
  @apply !shadow-none border;
}

.custom-modal .ant-modal-confirm-paragraph {
  max-width: inherit !important;
}
