@tailwind base;
@tailwind utilities;

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

.apexcharts-svg {
  @apply overflow-visible;
}

.apexcharts-tooltip {
  @apply !shadow-none border;
}

.custom-modal .ant-modal-confirm-paragraph {
  max-width: inherit !important;
}
